.PersonallyRight_one{
  float: left;
  width: 43rem;
  height: 13rem;
  border: 1px solid #dddfe2;
  border-radius: 0.4rem;
  margin-left: -43rem;
  background: white;
  margin-top: 21rem;
}
.PersonallyRight_two{
  float: left;
  float: left;
  width: 43rem;
  height: 40rem;
  border: 1px solid #dddfe2;
  border-radius: 0.4rem;
  margin-left: -43rem;
  background: white;
  margin-top: 35rem;
}