*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 75%;
}
.bodyright_one
{
    float:left;
    margin-left: 59rem;
    position: absolute;
  width: 100%;
}

.bodyright_one_page
{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 27rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
}
.bodyright_one_page-name{
  float: left;
}
.bodyright_one_page-chitiet{
  float: right;
  margin-right: 1rem;
  margin-top: -3rem;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
}
.bodyright_one_page-name{
  color: #808080;
  margin-top: -2rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.bodyright_one_page-boderbottom{
  margin-top: 2.5rem;
  border-bottom: 1px solid #808080;
}
.bodyright_one_page-boderbottom_oneimg{
  width: 6rem;
  height: 6rem;
  float: left;
  float: left;
  margin-top: -8.5rem;
  margin-left: 1rem;
}
.bodyright_one_page-boderbottom_one
{
  margin-top: 10rem;
  border-bottom: 1px solid #808080;
}
.bodyright_one_page-boderbottom_name{
  float: right;
  margin-top: -8.7rem;
  margin-right: 11rem;
  text-decoration: none;
  color: $color-blue-mot;
  font-size: 1.3rem;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_page-boderbottom_name_messenger{
  margin-left: 10rem;
  float: left;
  margin-top: -6.5rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom_name_notification{
  margin-left: 10rem;
  float: left;
  margin-top: -3.5rem;
  cursor: pointer;
}
.global{
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 8rem;
  margin-top: -4rem;
  cursor: pointer;
}
.Comment{
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 8rem;
  margin-top: -6.5rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom-Dang{
  margin-top: 5rem;
  border-bottom: 1px solid #808080;
}
.bodyright_one_page_boderbottom_Dang_icon{
  float: left;
  margin-top: -3.8rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 3.5rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom_name-Dang{
  margin-top: -1.7rem;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #808080;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_page_boderbottom_Dang_Icon_camera{
  float: left;
  margin-top: -4.2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 8rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom_name_Image{
  margin-top: -1.5rem;
  float: left;
  margin-left: 7rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #808080;
  display: inline-block;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_page_boderbottom_Dang_Icon_direct{
  float: left;
  margin-top: -4.2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 13rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom_name_direct{
  margin-top: -1.5rem;
  float: left;
  margin-left: 12rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #808080;
  display: inline-block;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_page_boderbottom_Dang_Icon_invite
{
  float: left;
  margin-top: -4.2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 17.5rem;
  cursor: pointer;
}
.bodyright_one_page-boderbottom_name_Moi
{
  margin-top: -1.5rem;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 17.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #808080;
  display: inline-block;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_page-boderbottom-interact_view
{
  //margin-bottom: 5rem;
  //border-bottom: 1px solid red;
}
.bodyright_one_page-boderbottom-interact_like{
  display: inline-block;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  background: #ffffff;
  &:hover{
    background: linear-gradient(#fff, #e9ebee);
  }
  border: 1px solid #dddfe2;
}
.bodyright_one_page-boderbottom-interact_view{
  display: inline-block;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  background: #ffffff;
  &:hover{
    background: linear-gradient(#fff, #e9ebee);
  }
  border: 1px solid #dddfe2;
}
.bodyright_one_page-boderbottom-interact_view{
  display: inline-block;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  background: #ffffff;
  &:hover{
    background: linear-gradient(#fff, #e9ebee);
  }
  border: 1px solid #dddfe2;
}
.bodyright_one_page-boderbottom-promote{
  margin-top: 1rem;
  border-top: 1px solid #808080;
}
.bodyright_one_page-boderbottom_create-promote{
  margin-top: 0.5rem;
  width: 19rem;
  height: 2.5rem;
  float: left;
  margin-left: 1rem;
  cursor: pointer;
  background: linear-gradient(#f5f6f7, #e9ebee);
  border: 1px solid #f5f6f7;
}


.bodyright_one_stream{
    border: 1px solid #dddfe2;
    margin-top: 0.5rem;
    background: white;
    width: 24.5rem;
    height: 40rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
}
.bodyright_one_stream-name{
  float: left;
  margin-left:  3rem;
  font-size: 1rem;
  font-family: inherit;
}


.bodyright_one_promote{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 40rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
}
.bodyright_one_stream-founder{
  float: left;
  margin-left: 0.8rem;
  font-size: 1.2rem;
}
.bodyright_one_stream-nampromote{
  float: right;
  margin-right: 0.8rem;
  text-decoration: none;
  color: cornflowerblue;
  font-size: 1.2rem;
  &:hover{
    text-decoration: underline;
  }
}
.bodyright_one_language{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 5rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
}
