*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 75%;
}
  .bodyright_one{
    float:left;
    margin-top: -55rem;
  }
  .bodyright_one_page{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 27rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
  }
  .bodyright_one_stream{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 40rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
  }
  .bodyright_one_promote{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 40rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
  }
  .bodyright_one_language{
    border: 1px solid #dddfe2;
    margin-top: 1rem;
    background: white;
    width: 24.5rem;
    height: 5rem;
    margin-left: 2.5rem;
    border-radius: 0.4rem;
  }
