*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 75%;
    box-sizing: border-box;
    @include respond(tab-land)
    {
        font-size: 75%;
    }
    @include respond(tab-port)
    {
        font-size: 50%;
    }
    @include respond(phone)
    {
        font-size: 75%;
    }
    @include respond(big-desktop)
    {
        font-size: 75%;
    }
}
.header
{
        @include respond(big-desktop)
            {
                height: 82px;
                background-color: $color-blue-mot;
                border-bottom: 1px solid $color-blue-mot;
                cursor: pointer;
            }
        @include respond(tab-land)
        {
            max-width: 150rem;
            .header__facebook
            {
                float: left;
                font-size: $font-size-facebook;
                padding-top: 1.5rem;
                font-weight: $font-weight;
                margin-left: 10rem;
            }
            .header__facebook_name{
                text-decoration: $text-decoration-none;
                color: $color-white;
                font-family: inherit;
                cursor: pointer;
            }
            .header__Email
            {
                color: $color-white;
                float:right;
                display: $display;
                margin-right: 30.5rem;
                margin-top: 2rem;

            }
            .header__email-input{
                width: 13rem;
                height: 1.5rem;
            }
            .header__MatKhau
            {
                color: $color-white;
                border-color: #1d2a5b;
                display: $display;
                float: right;
                margin-top: 2rem;
                margin-right: -28rem;
                //width: 14.2rem;
                //transform: translate(50%,50%);

            }
            .header__MatKhau-password-input{
                width:13rem;
                height: 1.5rem;
            }
            .header_three
            {
                float: right;
            }

            .header__forget-name{
                color: $color-white;
                margin-left: -2rem;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .header__login-button{
                float: right;
                margin-right: -35rem;
                margin-top: 3.3rem;
            }
            .header__login-button-lg {
                color: white;
                background: #4267b2;
                padding: 0.2rem;
                cursor: pointer;
                height: 2.2rem;

                &:active {

                }
            }
        }
}