*{
  padding: 0px;
  margin: 0px;
}
html{
  font-size: 65%;
}
@media (min-width: 1280px) {
  .body_form_login{
    width: 100%;
    position: absolute;
    height: 90%;
    background: linear-gradient(#fff, #d9ddeb);
  }
}
.login_sms{
  border: 1px solid #dddfe2;
  border-radius: 10px;
  width: 35rem;
  height: 23rem;
  background: white;
  text-align: center;
  display: block;
  line-height: 1.34;
  margin-top: 4rem;
  margin-left: 35rem;
}
.login_contain{
  border-top: 1px solid  #d9ddeb;
  margin-top: 3.5rem;
}
.login_name{
  margin-top: 1rem;
  float: left;
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.login_update{
  border-top: 1px solid  #d9ddeb;
  margin-top: 12rem;
}
.login_messenger_sms{
  float: left;
  margin-top: 9rem;
  margin-left: -8rem;
  text-decoration: none;
  color: deepskyblue;
  &:hover{
  text-decoration: underline;
  }
}
.input-sms{
  width: 8rem;
  height: 4rem;
  float: left;
  margin-left: 1rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
}
.login_update-button{
  margin-top: 1rem;
  float: right;
  width: 16rem;
  height: 3rem;
  margin-right: 10rem;
  cursor: pointer;
}
.login_update-again{
  float: right;
  width: 7rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: -24rem;
  cursor: pointer;
}