@media (min-width: 1280px) {
    .Background__image-SignIn{
        float: left;
        background: linear-gradient(#fff, #d9ddeb);
        position: absolute;
        width: 100%;
        height: 70%;
    }
}
