.PersonallyLeft_one{
  float: left;
  width: 25rem;
  height: 50rem;
  border: 1px solid #dddfe2;
  border-radius: 0.4rem;
  margin-left: -70rem;
  background: white;
  margin-top: 21rem;
}
.PersonallyLeft_two{
  float: left;
  width: 25rem;
  height: 5rem;
  border: 1px solid #dddfe2;
  border-radius: 0.4rem;
  margin-left: -70rem;
  background: white;
  margin-top: 72rem;
}
.PersonallyLeft_three{
  float: left;
  width: 25rem;
  height: 35rem;
  border: 1px solid #dddfe2;
  border-radius: 0.4rem;
  margin-left: -70rem;
  background: white;
  margin-top: 78rem;
}