*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 65%;
}
.bodyright__image
{
    position: relative;
    float: left;
    margin-left: -45rem;
    margin-top: 10rem;
}
.bodyright{
    .bodyright__label
    {
        float: left;
        padding: 9rem;
        margin-top: -5rem;
        font-weight: bold;
        font-family: inherit;
        font-size: $default-font-size;
        color: $color-blue-mot;
    }
}