@media (min-width: 450px) {
    .bodyleft{
        float: right;
        margin-right: 5rem;
        margin-top: 4rem;
        width: 45rem;
        height: 45rem;
    }
}
html{
    font-size: 77%;
    box-sizing: border-box;
}
.bodyleft_Signup{
    font-weight: bold;
    font-size: 2.8rem;
    font-family: inherit;
    float: right;
    margin-top: 3rem;
    margin-right: 32.5rem;
}
.bodyleft_speed{
    float: right;
    margin-right: -14.5rem;
    margin-top: 7rem;
    font-size: 1.3rem;
}
.bodyleft_Date{
    margin-top: 12rem;
}
.bodyleft_male{
    float: right;
    margin-top: 17rem;
    margin-right: -15rem;
    font-size: 1.5rem;
}
.bodyleft_female{
    float: right;
    margin-top: 17rem;
    margin-right: -5rem;
    font-size: 1.5rem;
}
.bodyleft_Option{
    float: right;
    margin-top: 17rem;
    margin-right: -28rem;
    font-size: 1.5rem;
}
.bodyleft_Date{
    float: right;
    margin-top: 8.5rem;
    margin-right: -7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #808080;
}
.center{
    float: left;
}
