$color-blue:#5a73fc;
$color-primary-dark:#1c3eff;
$default-font-size:1.6rem;
$color-blue-mot:#415e9b;
$gutter-horizontal:2.5rem;
$color-white: #ffffff;
$float-left: left;
$float-right: right;
$color-black: #111111;
$font-weight:bold;
$display: inline-block;