.Input{
  .bodyleft__firstname{
    margin-top: 2rem;
    text-shadow: none;
    margin-left: 11rem;
    word-spacing: normal;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    float: right;
    height: 2rem;
    padding: 0.3rem;
    width: 16.5rem;
    border: 2px solid #808080;
    display: inline-block;


  }
  .bodyleft__surname{
    margin-top: 2rem;
    text-shadow: none;
    word-spacing: normal;
    border-radius: 0.4rem;
    margin-left: 1rem;
    float: right;
    height: 2rem;
    width: 16rem;
    padding: 0.3rem;
    border: 2px solid #808080;
    display: inline-block;


  }
  .bodyleft__phone{
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    margin-left: 11rem;
    float: right;
    height: 2rem;
    padding: 0.3rem;
    width: 34.5rem;
    border: 2px solid #808080;
  }
  .bodyleft__password-new{
    width: 34.5rem;;
    height: 2rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    float: right;
    padding: 0.3rem;
    porder: 2px solid #808080;
  }
}