.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 7px 24px;
  display: block;
  width: 100%;
}
.InputElement:focus{
  outline: none;
  background-color: #ccc ;
}
.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}
.inputPassword {
    outline: none;
    border: 2px solid #808080;
    background-color: white;
    font: inherit;
    height: 3rem;
    display: block;
    width: 35rem;
    float: right;
    border-radius: 0.3rem;
    margin-right: -35.5rem;
    margin-top: 5.5rem;
  }
  .inputPhone{
    outline: none;
    border: 2px solid #808080;
    background-color: white;
    font: inherit;
    margin-top: 1rem;
    height: 3rem;
    display: block;
    width: 35rem;
    float: right;
    border-radius: 0.3rem;
    margin-right: 7.5rem;
  }
  .inputFirt_name{
    outline: none;
    border: 2px solid #808080;
    background-color: white;
    font: inherit;
    height: 3rem;
    display: inline-block;
    width: 17rem;
    border-radius: 0.3rem;
    float: right;
    margin-right: -17.2rem;
    margin-top: 9rem;
  }
  .inputLast_name{
    outline: none;
    border: 2px solid #808080;
    background-color: white;
    font: inherit;
    display: inline-block;
    width: 17rem;
    height: 3rem;
    border-radius: 0.3rem;
    float: right;
    margin-right: 7rem;
    margin-top: -3.4rem;
  }
  .inputDate{
    outline: none;
    border: 2px solid #808080;
    background-color: white;
    font: inherit;
    height: 3rem;
    display: block;
    width: 35rem;
    float: right;
    border-radius: 0.3rem;
    margin-right: -35.5rem;
    margin-top: 11.5rem;
  }
  .inputFemale{
    float: right;
    display: inline-block;
    margin-top: 17rem;
    margin-right: -2rem;
  }
  .inputMale{
    float: right;
    margin-right: -10rem;
    display: inline-block;
    margin-top: 17rem;
  }
  .inputOption{
    float: right;
    margin-top: 17rem;
    margin-right: -20rem;
    display: inline-block;
  }