.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 7px 24px;
  display: block;
  width: 100%;
}
.InputElement:focus{
  outline: none;
  background-color: #ccc ;
}
.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}
.inputPassword{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  height: 3rem;
  display: block;
  width: 35rem;
  border-radius: 0.3rem;
  margin-left: 5rem;
  margin-top: -1rem;
}
.inputPhone{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  margin-top: 4rem;
  height: 3rem;
  display: block;
  width: 35rem;
  border-radius: 0.3rem;
  margin-left: 5rem;
}
.inputFirt_name{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  height: 3rem;
  display: inline-block;
  width: 17rem;
  border-radius: 0.3rem;
  float: left;
  margin-left: -10.7rem;
  margin-top: 3.5rem;
}
.inputLast_name{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  display: inline-block;
  width: 17rem;
  height: 3rem;
  border-radius: 0.3rem;
  float: left;
  margin-left: 1rem;
  margin-top: 1.8rem;
}
.inputDate{
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  height: 3rem;
  display: block;
  width: 35rem;
  border-radius: 0.3rem;
  margin-left: 5rem;
}
.inputFemale{
float: left;

  display: inline-block;
  margin-left: 5rem;
}
.inputMale{
  float: left;
  margin-left: 12rem;
  display: inline-block;
  margin-top: -1.5rem;

}
.inputOption{
  float: left;
  margin-top: -3rem;
  margin-left: 20rem;
  display: inline-block;
}